[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
black = "*"
pylint = "*"
rope = "*"

[packages]
python-telegram-bot = "*"
docopt = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
